<div class="container" *ngIf="hasItems(); else empty">
    <h1 class="h3 fw-bold mb-4">Checkout</h1>

    <div class="row g-4">
      <!-- Liefer-/Kundendaten -->
      <div class="col-lg-7">
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Vorname</label>
            <input class="form-control" formControlName="firstName"
                   [class.is-invalid]="invalid('firstName')"/>
            <div class="invalid-feedback">Bitte Vornamen eingeben.</div>
          </div>
          <div class="col-md-6">
            <label class="form-label">Nachname</label>
            <input class="form-control" formControlName="lastName"
                   [class.is-invalid]="invalid('lastName')"/>
            <div class="invalid-feedback">Bitte Nachnamen eingeben.</div>
          </div>
          <div class="col-12">
            <label class="form-label">E-Mail</label>
            <input class="form-control" formControlName="email"
                   [class.is-invalid]="invalid('email')"/>
            <div class="invalid-feedback">Bitte gültige E-Mail eingeben.</div>
          </div>
          <div class="col-12">
            <label class="form-label">Adresse</label>
            <input class="form-control" formControlName="address"
                   [class.is-invalid]="invalid('address')"/>
            <div class="invalid-feedback">Bitte Adresse eingeben.</div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <label class="form-label">Plz</label>
                <input class="form-control" formControlName="zip"
                       [class.is-invalid]="invalid('zip')"/>
                <div class="invalid-feedback">Bitte Adresse eingeben.</div>
              </div>
              <div class="col-8">
                <label class="form-label">Ort</label>
                <input class="form-control" formControlName="city"
                       [class.is-invalid]="invalid('city')"/>
                <div class="invalid-feedback">Bitte Adresse eingeben.</div>
              </div>
            </div>
          </div>

          <!-- Zahlungsart (Dummy) -->
          <div class="mb-2 fw-semibold">Zahlungsart</div>


          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payment"
              id="paymentPaypal"
              value="paypal"
              formControlName="payment"
            />
            <label class="form-check-label d-flex align-items-center gap-2" for="paymentPaypal">
              <img src="assets/logo/paypal-logo.png" alt="PayPal" height="24">
            </label>
          </div>
          
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payment"
              id="paymentKlarna"
              value="klarna"
              formControlName="payment"
            />
            <label class="form-check-label d-flex align-items-center gap-2" for="paymentKlarna">
              <img src="assets/logo/klarna-logo.svg" alt="Klarna" height="24">
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="payment"
              id="paymentCredit"
              value="credit"
              formControlName="payment"
            />
            <label class="form-check-label d-flex align-items-center gap-2" for="paymentCredit">
              <img src="assets/logo/creditcard.svg" alt="Credit" height="24">
            </label>
          </div>

          
          <button type="submit" [disabled]="pending" [disabled]="form.invalid" class="btn btn-primary btn-lg w-100 mt-3 d-flex align-items-center justify-content-center gap-2">
            <img src="assets/logo/checkout-confirm.svg" alt="" height="20">
            <span>Zahlungspflichtig bestellen</span>
          </button>

        </form>
          <button (click)="fillDemo()" class="btn btn-primary btn-lg w-100 mt-3 d-flex align-items-center justify-content-center gap-2">
            <img src="assets/logo/checkout-confirm.svg" alt="" height="20">
            <span>Daten ausfüllen</span>
          </button>
      </div>

      <!-- Zusammenfassung -->
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header fw-semibold">Bestellübersicht</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let i of items">
              <div class="d-flex justify-content-between">
                <div>
                  <div class="fw-semibold">{{ i.name }}</div>
                  <div class="text-muted small">x{{ i.qty }}</div>
                </div>
                <div>{{ (i.price * i.qty) | price }}</div>
              </div>
            </li>
          </ul>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span>Zwischensumme</span><span>{{ totals.subtotal | price }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Versand</span><span>{{ totals.shipping | price }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between fw-bold">
              <span>Total</span><span>{{ totals.total | price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="container text-center py-5">
      <h2 class="h4 mb-3">Dein Warenkorb ist leer</h2>
      <a [routerLink]= "['/shop']" class="btn btn-outline-primary">Zurück zum Shop</a>
    </div>
  </ng-template>