<nav class="nav-tree" aria-label="Hauptnavigation">
  <ng-container *ngFor="let item of items()">
    <ng-container [ngTemplateOutlet]="nodeTpl" [ngTemplateOutletContext]="{ $implicit: item, depth: 0 }"></ng-container>
  </ng-container>
</nav>

<ng-template #nodeTpl let-node let-depth="depth">
  <div class="node" [style.marginLeft.px]="depth * 12">
    <button *ngIf="node.children?.length"
            class="btn-toggle nav-item"
            type="button"
            (click)="toggle(node)"
            [attr.aria-expanded]="isExpanded(node)"
            [attr.aria-label]="node.label">
      <span class="chevron" [class.rotate]="isExpanded(node)">›</span>
      {{ node.label }}
    </button>

    <a *ngIf="!node.children?.length"
       class="nav-item"
       routerLinkActive="active"
       [routerLink]="node.link">{{ node.label }}</a>
  </div>

  <div *ngIf="node.children?.length && isExpanded(node)" class="children">
    <ng-container *ngFor="let c of node.children">
      <ng-container [ngTemplateOutlet]="nodeTpl" [ngTemplateOutletContext]="{ $implicit: c, depth: depth + 1 }"></ng-container>
    </ng-container>
  </div>
</ng-template>