<div class="about">
    <div>
        <img class="about__img" src="assets/frau_mit_armreif.webp" alt="">
    </div>
    <div class="about__text">
        <p>
            Die Idee zu unseren Armbändern entstand in einer Zeit des Neuanfangs.  Wir suchten etwas, das uns im Alltag an Stärke, Vertrauen und innere Ruhe erinnert – und fanden sie in kleinen Symbolen aus Naturstein. Was als persönliches Projekt begann, wurde schnell zu einer Herzensmarke, die heute vielen Menschen denselben Anker bietet.
            Unsere Armbänder sind mehr als Schmuck – sie sind bewusste Begleiter, die dich in bestimmten Lebensphasen unterstützen. Jedes Design ist mit Bedacht zusammengestellt: aus Natursteinen, die seit Jahrhunderten mit bestimmten Eigenschaften und Energien in Verbindung gebracht werden – etwa Klarheit, Schutz, Zuversicht oder Liebe.
        </p>
        <p>
            Wenn Millionen von Menschen über Jahrtausende dieselbe Bedeutung mit einem Symbol verbinden, entsteht eine Art kollektives Bewusstsein – ein energetisches Feld gemeinsamer Assoziationen (Erfahre mehr dazu auf unserer Philosophie Seite <a href="/Warum_es_funktioniert"><b>Warum es funktioniert</b></a>).
            Damit wird der Stein zu einem Anker im eigenen Geist: Er erinnert uns an die Energie, die wir mit ihm verbinden.
            Die Wirkung entsteht also aus einer Mischung aus Symbolkraft, Tradition und innerer Resonanz.
        </p>
        <p>
            Wir möchten, dass du dich erinnerst: Stärke, Vertrauen, Liebe – sie sind längst da. Unsere Aufgabe ist nur, dich daran zu erinnern.
            Entdecke die Kollektion, die zu deiner aktuellen Lebensphase passt – und finde deine persönliche Stärke wieder.
        </p>
    </div>
</div>