<div class="footer-container">
    <div class="row w-100">
        <div class="col-3">
            © 2025 DesertStore
        </div>
        <div class="col-2">
            Wir über uns
        </div>
        <div class="col-2">
            Rechtliches
        </div>
        <div class="col-2">
            Service
        </div>
        <div class="col-3">
            Impressum
        </div>
    </div>
</div>


<!--div class="col">
    <div class="row">
        <div class="col-4">
            Wir über uns
        </div>
        <div class="col-4">
            Rechtliches
        </div>
        <div class="col-4">
            Service
        </div>
    </div>
    <div class="row">
        <span>© 2025 DesertStore</span>
        <a href="#">Impressum</a>
    </div>
</div-->
